@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200%;
    font-style: normal;
    background-color: rgb(24, 82, 82);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* min-height: ; */
}

#button_go {
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin-left: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 100%;
}

#button_go:hover {
    background-color: rgb(5, 146, 59);
    color: aliceblue;
}

#input{
    outline: none;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    border: 0;
    margin: 1px 0px 20px 0px;
    padding: 7px 0px 7px 8px;
}

#par{
    color: aliceblue;
}

.resp {
    margin-top: 20px;
    color: rgb(6, 108, 36);
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    outline: none;
}

footer{
    margin: 2rem;
    color: aliceblue;
}

/* @media () */